#FirstRcorners {
    border-radius: 250px;
    border: 1.5px solid #707070;
    padding: 20px;
    height: 150px;
}

#FirstRcorners p{
    color: #354E57;
    text-align:center;
    margin-top: 25px;
}

.imageLeft{
    float:left;
}

.imageRight{
    float: right;
}

.header-content-5items {
    position: relative;
    padding: 0;
    margin: -25px;
    right: 50px;
    top: 35px
}
.header-content-5items-topic {
    width: 50%;
    position: relative;
    top: 30px
}

h2 {
    color: white;
    font-size: 45px;
    /*float: left;*/
    margin-left: 30px;
    margin-top:20px;
}
.leftFont {
    text-align: left;
    margin-left: 545px;
}

.divFragment{
    margin-top: 80px;
}

.divFragment h1{
    color: #354E57;
    font-size: 45px;
}

.SecondRcorners {
    float:right;
    border-radius: 2500px;
    background-color: #D7CCDD;
    border: 1.5px solid #707070;
    height: 150px;
    width:750px;
    margin-top: 15%;
}

.SecondRcorners2 {
    float:right;
    border-radius: 2500px;
    background-color: #D7CCDD;
    border: 1.5px solid #707070;
    height: 150px;
    width:750px;
    margin-top: 15%;
}
.thirdRcorners {
    float:left;
    border-radius: 2500px;
    background-color: #D7CCDD;
    border: 1.5px solid #707070;
    height: 150px;
    width:750px;
    margin-top: 15%;
}


.SecondRcorners p{
    color: #354E57;
    text-align:center;
    margin-top: 25px;
}

.SecondRcorners2 p{
    color: #354E57;
    text-align:center;
    margin-top: 45px;
}

.thirdRcorners p{
    color: #354E57;
    text-align:center;
    margin-top: 30px;
}

.segment1 {
    margin-top:1%;
}
.segment3 {
    margin-top:50%;
}
.segment2 {
    margin-top:100%;
}

.line{
    height:5px;
    margin-top: 10%;
    background-color: #354E57;
}


.divFragment2{
    margin-top: 150%;
}
.divFragment3{
    margin-top: 10%;
}


.div1{
    float: left;
    margin-top:10%;
    border: 1.5px solid #707070;
    height: 80px;
    width:250px;
    margin-left: 3.5%;
}

.shortLine{
    float: left;
    margin-top:12.5%;
    margin-left: 5%;
    height:4px;
    width:80px;
    background-color: #354E57;
}


.div2{
    float: left;
    margin-top:10%;
    margin-left:5%;
    border: 1.5px solid #707070;
    height: 80px;
    width:250px;
}

.shortLine2{
    float: left;
    margin-top:12.5%;
    margin-left: 5%;
    height:4px;
    width:80px;
    background-color: #354E57;
}

.div3{
    margin-top:10%;
    margin-left: 5%;
    border: 1.5px solid #707070;
    height: 80px;
    width:250px;
    float: left;
}

.div11{
    float: left;
    margin-top:10%;
    border: 1.5px solid #707070;
    height: 200px;
    width:250px;
    margin-left: 3.5%;
    border-radius: 50px;
    background-color: #D7CCDD;

}
.shortLine3{
    float: left;
    margin-top:17.5%;
    margin-left: 5%;
    height:4px;
    width:80px;
    background-color: #354E57;
}

.div22{
    float: left;
    margin-top:10%;
    margin-left:5%;
    border: 1.5px solid #707070;
    height: 200px;
    width:250px;
    border-radius: 50px;
    background-color: #D7CCDD;

}
.shortLine4{
    float: left;
    margin-top:17.5%;
    margin-left: 5%;
    height:4px;
    width:80px;
    background-color: #354E57;
}
.div33{
    margin-top:10%;
    margin-left: 5%;
    border: 1.5px solid #707070;
    height: 200px;
    width:250px;
    float: left;
    border-radius: 50px;
    background-color: #D7CCDD;

}

.div111{
    float: left;
    margin-top:10%;
    border: 1.5px solid #707070;
    height: 300px;
    width:250px;
    margin-left: 3.5%;
    background-color: #EEF2F4;

}
.shortLine5{
    float: left;
    margin-top:17.5%;
    margin-left: 5%;
    height:4px;
    width:80px;
    background-color: #354E57;
}

.div222{
    float: left;
    margin-top:10%;
    margin-left:5%;
    border: 1.5px solid #707070;
    height: 300px;
    width:250px;
    background-color: #EEF2F4;
}

.shortLine6{
    float: left;
    margin-top:17.5%;
    margin-left: 5%;
    height:4px;
    width:80px;
    background-color: #354E57;
}
.div333{
    margin-top:10%;
    margin-left: 5%;
    border: 1.5px solid #707070;
    height: 300px;
    width:250px;
    float: left;
    background-color: #EEF2F4;

}

.image5{
    margin-top:30px;
    height: 120px;
    width: 150px;
}

.image6{
    margin-top:30px;
    height: 120px;
    width: 150px;
}

.image7{
    margin-top:30px;
    height: 120px;
    width: 150px;
}

.div11 p{
    margin-top: 45px;
}
.div22 p{
    margin-top: 30px;
}
.div33 p{
    margin-top: 10px;
}

.div1 p{
    color: #354E57;
    text-align:center;
    margin-top: 13px;
}




.div2 p{
    color: #354E57;
    text-align:center;
    margin-top: 13px;
}


.div3 p{
    color: #354E57;
    text-align:center;
    margin-top: 13px;
}



/*Hospitals*/
.fontLeft2 {
    text-align: left;
    margin-left: 3%;
}

.head1 {
    float: left;
    font-size:50px
}
.head2 {
    float: left;
    font-size: 35px;
}

.head3 {
    margin-left: 50px;
    font-size: 35px;
}

.nextPart{
    margin-top:15%;
    background-color: #C1C6C8;
    margin-left: 7%;
    margin-right: 7%;
}
.nextPart3{
    margin-top:15%;
    background-color: #E7EAF1;
    margin-left: 7%;
    margin-right: 7%;
}
.nextPart2{
    margin-top:15%;
    background-color:#E7EAF1;
    margin-left: 7%;
    margin-right:    7%;
    height:1100px;
}

.nextPart4{
    margin-top:15%;
    background-color:#E7EAF1;
    margin-left: 7%;
    margin-right:    7%;
    height:550px;
}

#noticefont{

}
#redfont{
    color: #DE3B35;
 }

.leftDiv{
    float: left;
    margin-left:30px;
    height:400px;
    width:400px;
}


.rightDiv{
    margin-left:660px;
    height:400px;
    width:400px;
}

.imageRight2{
    float: right;
    height: 30%;
    width: 30%;
}
.mainDiv{
    background-color: #C1C6C8;
}
