.body-class h1 {
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-left: 12px;
    line-height: 50px !important;
}

.body-class h2 {
    position: relative;
    bottom: 30px;
    color: white;
    font-size: 150px;
    font-weight: bold;
}

.header-p {
    color: white;
}

#inside-image-title {
    text-align: left;
    margin-left: 12px;
    font-family: Microsoft YaHei UI, serif;
    font-size: 30px;
    color:white;
}

#inside-image-word {
    font-size: 20px;
    color:white;
    font-family: Microsoft YaHei UI, serif;
    text-align: left;
    margin-left: 12px;
}

.body-class {
    height: 3000px;
    width: 100%;
}

.header-m {
    margin-bottom: 50px;
}

.front-background-wrapper {
    height: 500px;
    width: 100%;
}

.front-background-box {
    width: 940px;
    height: 100%;
    background-image: url(m7.png);
    background-size: 100% 100%;
}

#FirstP p {
    text-align: left;
    font-family: Microsoft YaHei UI;
    margin-left: 12px;
    font-size: 20px;
}

#SecondP p {
    text-align: left;
    font-weight: normal;
    font-family: Microsoft YaHei UI;
    margin-top: 120px;
    font-size: 20px;
    margin-bottom: 0px !important;
}

.header-content-wrapper {
    float:left;
    margin-left: 10px;

}

#text-along-bigger {
    width: 40%;
    text-align: left;
    margin-left: 20px;
}

#text-along-bigger p{
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.content_container{
    float:left;
}

.information-wrapper {
    width: 100%;
    height: 200px;
}

.information-title-box {

    margin-left: 12px;
}

.information-content-box {
    margin-bottom: 0px !important;
    height: 80%;
    margin-left: 26px;
    float: left;
    margin-top: 20px;

}

#SecondP {
    font-weight: normal;
    font-family: Microsoft YaHei UI;
    font-size: 20px;
    text-align: left;
}


.primary-box {
    margin-left: 26px;
    height: 540px;
}

.primary-title-box {
    width: 100%;
    height: 80px;
    margin-left: 5%;
}

.primary-title-box h1{
    font-size: 50px;

}

.primary-information-box {
    width: 40%;
    margin-left: 5%;
    float: left;
}

.horizontal-line-box {
    width: 100%;
    height: 20px;
    float: left;
    border: none;
}

.horizontal-line-box hr{
    border-top: 3px solid #27292B;
    border-left: none;
}

.primary-info-content-box {
    width: 100%;
    height: 280px;
    float: left;
    position: relative;
}

.primary-info-content-box:hover .gp-hover {
    opacity: 1;
}

.primary-info-content-box:hover .ed-hover {
    opacity: 1;
}

.gp-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6B6B7F;
}

.ed-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #547665;
}

#separate-second {
    margin-left: 80px;
}

#margin-fixed {
    margin-left: 0px;
}

#gp {
    background-color: #6B6B7F;
}

.primary-button-box {
    width: 100%;
    float: left;
}

.learn-more-button{
    width: 40%;
    height: 1px !important;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 53px;
    padding-right: 20px;
    border: 4px solid #a67744;
    color: #A67744;
    cursor: pointer;
    font-family: "freight-sans-pro", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    float: left;
}

#button-all {
    background-color: white;

}

#ed {
    background-color: #547665;
}

.title-image {
    width: 100%;
    height: 82px;
}

#title-image1 {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

#title-image2 {
    float: left;
    margin-top: 6px;
    margin-left: 20px;
}

#title-image2 {
    float: left;
    margin-top: 4px;
    margin-left: 20px;
}

.medical-service-select-language {
    position: absolute;
    top: 3.5%;
    right: 10%;
    background-color:#354E57;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius:2px;
    border:none;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@-moz-document url-prefix() {
    select {
        color: rgba(0,0,0,0);
        text-shadow: 0 0 0 #ffffff;
    }
}

.primary-info-content-top{
    margin-top: 40px;
    left: 20px;
    margin-bottom: 0;
}


#inside-image-word{

}
