.booking-main {
    min-height: 800px;
    width: 100%;
    background-color: #aaa;
}

.booking-space-justify {
    margin-top: 50px;
    margin-bottom: 50px;
}

.chat-area {
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
    background-color: #EEF3F4;
    width: 88%;
    height: 750px;
    border-radius: 10px;
}

.chat-area input[type="text"][disabled] {
    color: #000;
}

.chat-area ::-webkit-scrollbar {
    width: 10px;
}

.chat-area ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 7px;
}

.chat-area ::-webkit-scrollbar-thumb {
    background: rgba(10, 10, 10, 0.3);
    border-radius: 7px;
}

.chat-area ::-webkit-scrollbar-thumb:hover {
    background: rgba(10, 10, 10, 0.5);
}

.chat-area .chat-area-content {
    height: 500px;
    border-radius: 5px;
    padding: 3%;
    margin-bottom: 20px;
    overflow: auto;
}

.chat-area .chat-input {
    background-color: #ccc;
    padding-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

.chat-area .chat-input .chat-input-original {
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    height: 50px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
}

.chat-area .chat-input .chat-language-select {
    height: 60px;
    width: 30%;
    margin-left: 5%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
    text-align: center;
}

.chat-area .chat-input .chat-translation {
    width: 90%;
    margin-left: 5%;
}

.chat-area .chat-input .chat-translation .chat-input-translated {
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
    background-color: #D9E9EE;
}

.chat-area .chat-input .chat-translation .chat-send-msg-btn {
    border-radius: 5px;
    margin-top: 20px;
    background-color: #354E57;
    height: 50px;
    margin-left: 10%;
    width: 90%;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 12px;
}

.centralization {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
}
