
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: inherit;
}


.container{
    text-align:center;

}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

/*设置高度出现问题？*/
.site-layout{
    height: inherit;

}

.site-layout .site-layout-background {
    background: #EEF3F4;
    margin-left: 50px;
    margin-top: 20px;
}
.site-layout-background .breadcrumb p{
    color: #354E57;
    font-size: 28px;
    font-weight: bold;
}

.ant-breadcrumb-separator{
    color: #354E57;
    font-size: 28px;
    font-weight: bold;
}


.demo{
    background-color: #354E57;
}



.ant-menu-item-selected{
    color: #EEF3F4 !important;
}

.ant-menu-root{
    border-right: 0.5px;
}
.ant-menu-item:active{
    background-color: #A67744;
}

.ant-menu-item{
    color: #EEF3F4;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #A67744;
}

.image{
    text-align:center;
    padding-bottom: 50px;
}

.image p{
    margin-top: 5px;
}


.controlBar{
    float: left;
    margin-top: 50px;
}

html,body,#root{
    width: 100%;
    height: 100%;
}
.ant-layout{
    height: 100%;
}

.sider-logout-button {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    background-color: #b9c1c4;
    color: #354E57;
    height: 40px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -webkit-box;
    display: -moz-box;
}

.sider-logout-button span {
    font-size: 16px;
    font-weight: bold;
}