html,
body {
    margin: 0;
    padding: 0;

}

.hightlight:focus-within {
    background: #a1c084;
}

.doctorContent {
    margin-left: 8%;
}

.doctorContent h2 {
    text-align: left;
    color: #354E57;
    font-size: 14px;
    word-wrap: break-word;
    /*word-break: break-all;*/
}

.doctorContent h1 {
    color: #354E57;
    font-size: 35px;

}
