html,
body {
    margin: 0;
    padding: 0;
}

.gp{
    height: 900px;

}

.steps{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
}

.steps p{
    color:#354E57;
    font-size: 20px;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
    background-color: #B9C1C4;
}

.gpIntroduction{
    min-height: inherit;
}

.imagePart{
    float: left;
    width: 50%;
}

.imagePart img{
    width: 90%;
}

.imagePart .ant-col {
    margin-bottom: 3%;
    margin-right: 1%;
}

.gpContent{
    margin-left: 51%;
    width: 50%;
}

.gpContent .ant-col{
    margin-left: 2%;
}


.gpContent .ant-col h2{
    color: #354E57;
    font-size: 32px;
    font-weight: bold;
}

.gpContent .ant-col h3{
    color: #354E57;
    font-weight: bold;
    text-align: left;
}
.gpContent .ant-col p{
    color: #354E57;
    font-size: 15px ;
    font-weight: normal;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}

.ant-steps-item-tail {
    background-color: royalblue;
}

.changePage{
    float: left;
    margin-left: 50%;
    margin-top: 8%;
    width: 100%;
}

.changePage button{

    width: 35%;
    background-color: #354E57;
    margin-right: 60px;
}

.changePage button p{
    padding-top: 3px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}




