html,
body {
    margin: 0;
    padding: 0;
}

.gp {
    height: 900px;

}

.steps {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 50px;
}

.steps p {
    color: #354E57;
    font-size: 20px;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #B9C1C4;
}

.gpIntroduction {
    min-height: inherit;
}

.imagePart {
    float: left;
    width: 50%;
}

.imagePart img {
    width: 90%;
}

.imagePart .ant-col {
    margin-bottom: 3%;
    margin-right: 1%;
}

.gpContent {
    margin-left: 51%;
    width: 50%;
}

.gpContent .ant-col {
    margin-left: 2%;
}


.gpContent .ant-col h2 {
    color: #354E57;
    font-size: 32px;
    font-weight: bold;
}

.gpContent .ant-col h3 {
    color: #354E57;
    font-weight: bold;
    text-align: left;
}

.gpContent .ant-col p {
    color: #354E57;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    word-wrap: break-word;
    /*word-break: break-all;*/
}

.ant-steps-item-tail {
    background-color: royalblue;
}

.changePage {
    float: left;
    width: 100%;

    margin-top: 30px;
}

.changePage .continueButton {
    width: 70%;
    background-color: #354E57 !important;
    border-style: none;
    border-radius: 6px;

}

.changePage .continueButton:hover {
    background-color: #B9C1C4 !important;

}


.changePage .continueButton p {
    padding-top: 10px;
    font-size: 20px;
    color: #FFFFFF !important;
    font-weight: bold;
}

.backButton {
    width: 70%;
    background-color: #B9C1C4;
    border-style: none;
    border-radius: 6px;
}

.changePage .backButton:hover {
    background-color: #354E57 !important;

}

.backButton p {
    padding-top: 10px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

#ni {
    color: royalblue;
    white-space: pre-line;
}


.ant-steps-item-process .ant-steps-item-icon {
    border: #354E57 !important;
    background: #354E57 !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    padding-top: 2px;
    background: #354E57 !important;
    border: #B9C1C4 !important;
    color: #B9C1C4 !important;
}

.ant-steps-item-wait .ant-steps-item-icon {
    border: #354E57 !important;
    background: #B9C1C4 !important;
}

.ant-steps-item-finish .ant-steps-icon {
    color: #B9C1C4 !important;
    font-weight: bolder;
    top: 8px;
    left: 10px;
}

.ant-steps-item-process .ant-steps-icon {
    color: #B9C1C4 !important;
    font-weight: bolder;
    top: 9px;
    left: 12px;
}

.ant-steps-item-wait .ant-steps-icon {
    color: #354E57 !important;
    font-weight: bolder;
    top: 9px;
    left: 13px;
}

.ant-steps-item-title::after {
    background-color: #354E57 !important;
    height: 3px !important;
    top: 13px;
}








