html,
body {
    margin: 0;
    padding: 0;
}

.steps h1{
    color: #354E57;
    font-size: 35px;
}

.bookingInformation h1{
    color: #354E57;
    font-weight: bold;
    font-size: 18px;
}

.bookingInformation p{
    word-wrap: break-word;
    word-break: break-all;
    font-weight: unset;
    color: #354E57;
    font-size: 16px;
}

.bookingInformation hr{
    width: 70%;
}